# Terraform
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl

# Ignore Terraform state & providers
infra/terraform/.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
.terraform.tfstate.lock.info

infra/terraform/.terraform/
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.*